In [17]:
    import pymysql

    db = pymysql.connect(
        host = '127.0.0.1',
        port = 3306,
        user = 'bitai',
        passwd = '456123',
        db = 'pydb'
    )

    cursor = db.cursor()

    sql = """
    create table pydbtest(
    id int unsigned not null auto_increment,
    name varchar(20) not null,
    price int not null,
    primary key(id))"""

    cursor.execute(sql)

    db.commit()

    db.close()

In [6]:
    import pymysql

    db = pymysql.connect(
        host = '127.0.0.1',
        port = 3306,
        user = 'bitai',
        passwd = '456123',
        db = 'pydb'
    )

    cursor = db.cursor()

    sql = """
    insert into pydbtest(name,price) values(%s,%s)
    """
    
    cursor.execute(sql,('Xeon Sever',10000000))
    cursor.execute(sql,('FPGA Sever',34000000))
    cursor.execute(sql,('GPU Sever',20000000))
    cursor.execute(sql,('RTX Tita',4000000))
    
    db.commit()

    db.close()
    
    print("Insertion Sucess")

Insertion Sucess

In [8]:
    import pymysql

    db = pymysql.connect(
        host = '127.0.0.1',
        port = 3306,
        user = 'bitai',
        passwd = '456123',
        db = 'pydb'
    )

    cursor = db.cursor()

    sql = """
    select * from pydbtest;
    """
    
    cursor.execute(sql)
    rows = cursor.fetchall()
   
    
    db.commit()

    print(rows)
    db.close()
    
    print("Insertion Sucess")

((1, 'Xeon Sever', 10000000), (2, 'FPGA Sever', 34000000), (3, 'GPU Sever', 20000000), (4, 'RTX Tita', 4000000))
Insertion Sucess

In [11]:
import pymysql

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'bitai',
    passwd = '456123',
    db = 'pydb'
)

# 커서 정보를 Dictionary 형태로 사용하려면
# 아래의 코드를 반드시 구동해야 한다.
cursor = db.cursor()

sql = """
    drop table pydbtest;
"""

cursor.execute(sql)

db.commit()

db.close()

print("Selection Success")

InternalError: (1051, "Unknown table 'pydb.pydbtest'")

In [20]:
import pymysql
import calendar
import datetime
import numpy as np
import time
import math

In [21]:
sampleTime = np.arange(0, 10, 0.001)
noiseData = np.random.normal(size = len(sampleTime))

# f = 1/T
# T = 1/f
# 2 * pi * f * t = w * t
voltage = 3 * np.cos(10 * sampleTime + (math.pi / 3)) + \
    2.7 * np.cos(7 * sampleTime) + \
    2.5 * np.cos(5 * noiseData * sampleTime)

current = 3 * np.cos(10 * sampleTime) + \
    2.7 * np.cos(7 * sampleTime) + \
    2.5 * np.cos(5 * noiseData * sampleTime)

In [22]:
ts = calendar.timegm(time.gmtime())
ts = (sampleTime * 1000) + ts

sampleTime = np.array(sampleTime, dtype=np.float32)
voltage = np.array(voltage, dtype=np.float32)
current = np.array(current, dtype=np.float32)

In [32]:

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'bitai',
    passwd = '456123',
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    create table sensor_data(
        no integer not null auto_increment primary key, 
        voltage float not null, 
        current float not null, 
        vendor text null, 
        name text not null, 
        reg_date timestamp not null default now()
    )
"""

cursor.execute(sql)

db.commit()

db.close()

print("Table Creation Success")

Table Creation Success

In [33]:
currTime = []

for i in range(len(sampleTime)):
    currTime.append(
        datetime.
            datetime.
                fromtimestamp(ts[i]).
                    strftime('%Y-%m-%d %H:%M:%S')
    )

In [34]:

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'bitai',
    passwd = '456123',
    db = 'pydb'
)

cursor = db.cursor()

# 기존에 만든 테이블을 삭제하는 방법
# drop table 테이블이름
sql = """
    insert into sensor_data(
        voltage, current, vendor, name, reg_date
    ) values (%s, %s, %s, %s, %s)
"""

In [35]:
try:
    with db.cursor() as cursor:
        for i in range(len(sampleTime)):
            cursor.execute(sql,
                (
                    str(voltage[i]),
                    str(current[i]),
                    'FMFire',
                    'F33N21BTN7',
                    currTime[i]
                )
            )
            
        db.commit()
finally:
    db.close()
    
print("Sucess to insert 10000 Sensor Data")

Sucess to insert 10000 Sensor Data